@font-face {
	font-family: 'Proxima Nova';
	src: url(../../font/ProximaNova/ProximaNova-Light.eot) format('embedded-opentype'),
		 url(../../font/ProximaNova/ProximaNova-Light.woff) format('woff'),
		 url(../../font/ProximaNova/ProximaNova-Light.ttf) format('truetype');
	font-weight: 100;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url(../../font/ProximaNova/ProximaNova-Regular.eot) format('embedded-opentype'),
		 url(../../font/ProximaNova/ProximaNova-Regular.woff) format('woff'),
		 url(../../font/ProximaNova/ProximaNova-Regular.ttf) format('truetype');
	font-weight: 300;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url(../../font/ProximaNova/ProximaNova-Semibold.eot) format('embedded-opentype'),
		 url(../../font/ProximaNova/ProximaNova-Semibold.woff) format('woff'),
		 url(../../font/ProximaNova/ProximaNova-Semibold.ttf) format('truetype');
	font-weight: 500;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url(../../font/ProximaNova/ProximaNova-Extrabld.eot) format('embedded-opentype'),
		 url(../../font/ProximaNova/ProximaNova-Extrabld.woff) format('woff'),
		 url(../../font/ProximaNova/ProximaNova-Extrabld.ttf) format('truetype');
    font-weight: 900;
}

@font-face {
	font-family: 'Gilroy';
	src: url(../../font/Gilroy/Gilroy-Light.eot) format('embedded-opentype'),
		 url(../../font/Gilroy/Gilroy-Light.woff) format('woff'),
		 url(../../font/Gilroy/Gilroy-Light.ttf) format('truetype');
	font-weight: 100;
}

@font-face {
	font-family: 'Gilroy';
	src: url(../../font/Gilroy/Gilroy-Regular.eot) format('embedded-opentype'),
		 url(../../font/Gilroy/Gilroy-Regular.woff) format('woff'),
		 url(../../font/Gilroy/Gilroy-Regular.ttf) format('truetype');
	font-weight: 300;
}

@font-face {
	font-family: 'Gilroy';
	src: url(../../font/Gilroy/Gilroy-Medium.eot) format('embedded-opentype'),
		 url(../../font/Gilroy/Gilroy-Medium.woff) format('woff'),
		 url(../../font/Gilroy/Gilroy-Medium.ttf) format('truetype');
	font-weight: 500;
}

@font-face {
	font-family: 'Gilroy';
	src: url(../../font/Gilroy/Gilroy-Bold.eot) format('embedded-opentype'),
		 url(../../font/Gilroy/Gilroy-Bold.woff) format('woff'),
		 url(../../font/Gilroy/Gilroy-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
	font-family: 'Gilroy';
	src: url(../../font/ProximaNova/ProximaNova-Extrabld.eot) format('embedded-opentype'),
		 url(../../font/ProximaNova/ProximaNova-Extrabld.woff) format('woff'),
		 url(../../font/ProximaNova/ProximaNova-Extrabld.ttf) format('truetype');
    font-weight: 900;
}